{% extends 'base.html' %}
{% block content %}
 <br/><br/>
 <center><h1>ยินดีต้อนรับ</h1></center>
 <br/><br/>
 <center><h2>"ระบบฐานข้อมูลติดตามสถานะและผลงานตีพิมพ์ของนักศึกษาระดับบัณฑิตศึกษา"</h2></center>
 <br/><br/>
 <center><h2>เสนอ</h2></center>
 <center><h2>อาจารย์อรรถพร หวังพูนทรัพย์</h2></center>
 <br/><br/>
 <center><h2>จัดทำโดย</h2></center>
 <center><h3>นางสาวกมลชนก   ไชยศรี       6410510002</h3></center>
 <center><h3>นางสาวกรชวัล     รักพูนแก้ว    6410510004</h3></center>
 <center><h3>นางสาวทับทิมแก้ว  วัฒนาไพศาล 6410510081</h3></center>
 <center><h3>นายธนกร         ชูไชย       6410510086</h3></center>
 <center><h3>นายปุณยวัจน์      คณะสุวรรณ์    6410510141</h3></center>
 <center><h3>นางสาวมุธิตา      พุธทา       6410510182</h3></center>
 <center><h3>นายภานุวัฒน์      สุวรรณมิตร    6410510169</h3></center>
 <center><h3>นายอัครวินท์      พูลยรัตน์      6410510276</h3></center>
 <center><h3>นายนภพันธุ์       ศรีทองกุล     6410510350</h3></center>
 <center><h3>นางสาวพิชญา     ชิตกุล        6410510382</h3></center>
{% endblock %}